
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Favicon -->
		<link rel="icon" type="image/x-icon" href="../../../../src/assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../../../../src/assets/css/bootstrap.min.css">
		
		<!-- Linearicon Font -->
		<!-- <link rel="stylesheet" href="../../../../src/assets/css/lnr-icon.css"> -->
        
		<link rel="stylesheet" href="../../../../src/assets/css/lnr-icon.css">
				
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="../../../../src/assets/css/font-awesome.min.css">
				
		<!-- Custom CSS -->
		<!-- <link rel="stylesheet" href="../../../../assets/css/style.css"> -->
        
		<link rel="stylesheet" href="../../../../src/assets/css/style.css">