<html>
  <head>
    <!-- <app-header></app-header> -->
    <link
      rel="icon"
      type="image/x-icon"
      href="../../../assets/img/favicon.png"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css" />

    <!-- Linearicon Font -->
    <link rel="stylesheet" href="../../../assets/css/lnr-icon.css" />

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../../../assets/css/font-awesome.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../../assets/css/style.css" />

    <title>Login Page</title>
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="inner-wrapper login-body">
      <div class="login-wrapper">
        <div class="container">
          <div class="loginbox shadow-sm grow">
            <div class="login-left">
              <img
                class="img-fluid"
                src="../../../assets/img/logo.png"
                alt="Logo"
              />
            </div>
            <div class="login-right">
              <div class="login-right-wrap">
                <h1>Login</h1>
                <p class="account-subtitle">Access to our dashboard</p>

                <!-- Form -->
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input
                      type="text"
                      id="username"
                      formControlName="username"
                      class="form-control"
                      [class.is-invalid]="
                        username?.invalid && username?.touched
                      "
                    />

                    <div
                      *ngIf="username?.invalid && username?.touched"
                      class="error-message"
                    >
                      <div *ngIf="username?.errors?.['required']">
                        Username is required
                      </div>
                      <div *ngIf="username?.errors?.['minlength']">
                        Username must be at least 3 characters
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      id="password"
                      formControlName="password"
                      class="form-control"
                      [class.is-invalid]="
                        password?.invalid && password?.touched
                      "
                    />

                    <div
                      *ngIf="password?.invalid && password?.touched"
                      class="error-message"
                    >
                      <div *ngIf="password?.errors?.['required']">
                        Password is required
                      </div>
                      <div *ngIf="password?.errors?.['minlength']">
                        Password must be at least 6 characters
                      </div>
                    </div>
                  </div>

                  <!-- <div *ngIf="errorMessage" class="alert alert-error">
                    {{ errorMessage }}
                  </div> -->

                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="isLoading || loginForm.invalid"
                  >
                    {{ isLoading ? "Logging in..." : "Login" }}
                  </button>
                </form>
                <!-- /Form -->

                @if (errorMessage) {
                <div class="error-message">
                  {{ errorMessage }}
                </div>
                }

                <div class="text-center forgotpass">
                  <a href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="login-or">
                  <span class="or-line"></span>
                  <span class="span-or">or</span>
                </div>

                <!-- Social Login -->
                <div class="social-login">
                  <span>Login with</span>
                  <a href="javascript:void(0)" class="facebook"
                    ><i class="fa fa-facebook"></i></a
                  ><a href="javascript:void(0)" class="google"
                    ><i class="fa fa-google"></i
                  ></a>
                </div>
                <!-- /Social Login -->

                <div class="text-center dont-have">
                  Don’t have an account? <a href="register.html">Register</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script
      src="assets/js/jquery-3.2.1.min.js"
      type="80b9a2d338849452d60ff236-text/javascript"
    ></script>

    <!-- Bootstrap Core JS -->
    <script
      src="assets/js/popper.min.js"
      type="80b9a2d338849452d60ff236-text/javascript"
    ></script>
    <script
      src="assets/js/bootstrap.min.js"
      type="80b9a2d338849452d60ff236-text/javascript"
    ></script>

    <!-- Sticky sidebar JS -->
    <script
      src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"
      type="80b9a2d338849452d60ff236-text/javascript"
    ></script>
    <script
      src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"
      type="80b9a2d338849452d60ff236-text/javascript"
    ></script>

    <!-- Custom Js -->
    <script
      src="assets/js/script.js"
      type="80b9a2d338849452d60ff236-text/javascript"
    ></script>

    <script
      src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
      data-cf-settings="80b9a2d338849452d60ff236-|49"
      defer
    ></script>
  </body>

  <!-- Mirrored from dleohr.dreamstechnologies.com/template-1/dleohr-vertical/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Dec 2024 03:17:55 GMT -->
</html>
